body {
	margin: 0px;
	font-family: 'Lora', serif;
}

#header {
	height: 6em;
	background-color: #ace;
		sbackground-color: #bdf;
}

#options {
	position: relative;
	top: 60%;
	height: 50%;
	width: 100%;
	background-color: #bdf;

}

#sortLabel {
	display: inline-block;
	width: 20%;
	text-align: center;
}

.sortToggle {
	border: 1px solid #689;
	display: inline-block;
	width: 30%;
	height: 60%;
	margin: 2.5% 5%;
	text-align: center;
	background-color: #9bd;
	line-height: 160%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

.sortToggle:hover {
	
	cursor: pointer;
	background-color: #8ab;
	color: white;
}

#byTheater {
	margin-left: 0%
}

#main {

}

.main_container {
	padding: 1em 2em 1em 1em;
	background-color: #fff;
	border-top: 1px solid #999;
}

.main_title {
	margin: 0px 0px .4em 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
}

.main_info {
	color: #666;
}

.info {
	display: block;
}

.shortdes {
	display:none;
}

.secondary {
	margin: 1.2em 0 .5em 0;
	font-family: 'Open Sans', sans-serif;

}

.secondary_name {
	margin: 0;
	font-size: 1.4em;
	font-weight: 100;
	color: #333;
}

.secondary span {
	font-family: 'Lora', serif;
	font-size: 1em;
	color: #777;
}

#footer {
	height: 5em;
	background-color: #bfdfff
}