body {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#header {

	background-color: #ace;
		sbackground-color: #bdf;
	font-family: 'Open Sans Condensed', sans-serif;

}

#board {
	//height: 6em;
	padding-left: 5%;
}

#board h1 {
	display: inline-block;
	font-size: 2.5em;
	line-height: 50%;
}

#board i {
	
}

#board h4 {
	display: none;
}

#options {
	position: relative;
	top: 60%;
	height: 50%;
	width: 100%;
	background-color: #bdf;

}

#sortLabel {
	display: inline-block;
	width: 20%;
	text-align: center;
}

.sortToggle {
	border: 1px solid #689;
	display: inline-block;
	width: 30%;
	height: 60%;
	margin: 0.6em 5%;
	text-align: center;
	background-color: #9bd;
	line-height: 180%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

.sortToggle:hover {
	
	cursor: pointer;
	background-color: #8ab;
	color: white;
}

#byTheater {
	margin-left: 0%
}

#main {
    	margin-top: -1px;
		font-family: 'Lora', serif;
}

.main_container {
	padding: 1em 2em 1em 1em;
	background-color: #fff;
	border-top: 1px solid #999;
}

.main_title {
	margin: 0px 0px .4em 0px;
font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2.5em;
}

.main_info {
	color: #666;
}

.info {
	display: block;
}

.shortdes {
	display:none;
}

.secondary {
	margin: 1.2em 0 .5em 0;
	font-family: 'Open Sans', sans-serif;

}

.secondary_name {
	margin: 0;
	font-size: 1.4em;
	font-weight: 100;
	color: #333;
}

.secondary span {
	font-family: 'Lora', serif;
	font-size: 1em;
	color: #777;
}

#footer {
	height: 2em;
	background-color: #bfdfff
}

#footer div {
	position: absolute;
	right: 5%;
	line-height: 200%;
}
#footer a {
	color: darkblue;

}

@media only screen and (min-width: 768px) {

    #main {

    	margin-left: 20%;
    }

    .sortToggle {
    	width: 10em;
    	margin-left: 1em;
    	margin-right: 1em;
    }
    .main_container {
    	width: 500px;
    	
    }

